<div class="container">
    <% if user_signed_in? %>
        <% if current_user.punch_card %>
        <% else %>
            </br>
            <h1> Welcome <%= current_user.full_name %> </h1>
        <% end %>
    <% end %>
</div>